@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Cairo", ui-sans-serif, system-ui, sans-serif;
  --font-inter: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-cairo: "Cairo", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  html {
    @apply font-sans antialiased;
  }
}
